*{
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}
body{
    background-color: black;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 209px;
}
.icon{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 132,22px;
}
.tabs{
    padding-left: 132,22px;
    padding-top: 18px;
    padding-right: 52,22px;
    margin-bottom: 20px;
}
.tabs-ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.tabs-link{
    display: flex;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
.tabs-link:hover{
    color: #FAC422;
    font-size: 18px;
    box-sizing: border-box;
}
.tabs li{
    margin-right: 30px;
    margin-left: 30px;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    padding-left: 52,22px;
}
.basket{
    background: none;
}
.basket-img{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 40px;
}
.contact{
    background: none;
}
.main-menu{
    padding-top: 209px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 250px;
}
/*.social-nav{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 15px;
}
.social-ul{
    display: flex;
    justify-content: space-evenly;
    transform: rotate(270deg);
}
.social-tabs-link{
    text-decoration: none;
    color: #80858F;
}*/
.text-generation{
    padding-left: 15px;
    margin-left: 15px;
}
.name-company{
    padding-left: 15px;
    padding-bottom: 16px;
    padding-left: 15px;
}
.future-of-espots{
    color: #57B8FF;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 10px;
}
.fire{

}
.description{
    padding-top: 15px;
    padding-left: 30px;
}
.text-descrition{
    color: #999999;
    font-size: 18px;
}