*{
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}
body{
    background-color: black;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tabs-ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.tabs-link{
    text-decoration: none;
}
.tabs-link:hover{
    color: #FAC422;
}
.basket{
    background: none;
}
.contact{
    background: none;
}